In [1]:
# Dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import numpy as np

In [2]:
# Store filepath in a variable
file = Path("data/us-states.csv")

In [3]:
data = pd.read_csv(file)
data

             date          state  fips    cases  deaths
0      2020-01-21     Washington    53        1       0
1      2020-01-22     Washington    53        1       0
2      2020-01-23     Washington    53        1       0
3      2020-01-24       Illinois    17        1       0
4      2020-01-24     Washington    53        1       0
...           ...            ...   ...      ...     ...
61937  2023-03-23       Virginia    51  2298300   23782
61938  2023-03-23     Washington    53  1940704   15905
61939  2023-03-23  West Virginia    54   645710    8132
61940  2023-03-23      Wisconsin    55  2014524   16485
61941  2023-03-23        Wyoming    56   185800    2014

[61942 rows x 5 columns]

## SUMMARY

In [4]:
# Total number of unique STATES
states_count = len(data['state'].unique())
states_count

56

In [5]:
states_group_cases = data.groupby('state')['cases'].max()
states_group_cases

state
Alabama                      1648385
Alaska                        308893
American Samoa                  8321
Arizona                      2451062
Arkansas                     1008303
California                  12169158
Colorado                     1771010
Connecticut                   978456
Delaware                      332861
District of Columbia          178226
Florida                      7542869
Georgia                      2984923
Guam                           62077
Hawaii                        372408
Idaho                         522919
Illinois                     4107931
Indiana                      2054533
Iowa                          907421
Kansas                        940815
Kentucky                     1723443
Louisiana                    1580709
Maine                         319997
Maryland                     1369930
Massachusetts                2230150
Michigan                     3068195
Minnesota                    1784263
Mississippi                   993035
Missouri                     1794207
Montana                       330875
Nebraska                      570835
Nevada                        892814
New Hampshire                 379689
New Jersey                   3057442
New Mexico                    673541
New York                     6805271
North Carolina               3481732
North Dakota                  288106
Northern Mariana Islands       13395
Ohio                         3415254
Oklahoma                     1295832
Oregon                        967156
Pennsylvania                 3539135
Puerto Rico                  1139243
Rhode Island                  461788
South Carolina               1840458
South Dakota                  280525
Tennessee                    2459152
Texas                        8447168
Utah                         1093049
Vermont                       153198
Virgin Islands                 24838
Virginia                     2298300
Washington                   1940704
West Virginia                 645710
Wisconsin                    2014524
Wyoming                       185800
Name: cases, dtype: int64

In [6]:
states_group_deaths = data.groupby('state')['deaths'].max()
states_group_deaths

state
Alabama                      21631
Alaska                        1438
American Samoa                  34
Arizona                      33190
Arkansas                     13068
California                  104277
Colorado                     14245
Connecticut                  12270
Delaware                      3352
District of Columbia          1487
Florida                      87141
Georgia                      41055
Guam                           421
Hawaii                        1851
Idaho                         5456
Illinois                     41618
Indiana                      26179
Iowa                         10770
Kansas                       10232
Kentucky                     18348
Louisiana                    18835
Maine                         2981
Maryland                     16672
Massachusetts                24441
Michigan                     42311
Minnesota                    14964
Mississippi                  13431
Missouri                     23998
Montana                       3701
Nebraska                      5068
Nevada                       12093
New Hampshire                 3018
New Jersey                   36097
New Mexico                    9110
New York                     80138
North Carolina               29746
North Dakota                  2529
Northern Mariana Islands        41
Ohio                         42061
Oklahoma                     16549
Oregon                        9451
Pennsylvania                 50701
Puerto Rico                   5848
Rhode Island                  3915
South Carolina               20192
South Dakota                  3222
Tennessee                    29035
Texas                        94518
Utah                          5316
Vermont                        939
Virgin Islands                 130
Virginia                     23782
Washington                   15905
West Virginia                 8132
Wisconsin                    16485
Wyoming                       2014
Name: deaths, dtype: int64

In [7]:
cases_count = states_group_cases.sum()
cases_count

103910034

In [8]:
deaths_count = states_group_deaths.sum()
deaths_count

1135432

In [9]:
# Average number of cases all states
cases_mean = states_group_cases.mean()
cases_mean

1855536.3214285714

In [10]:
# Average number of deaths all states
death_mean = states_group_deaths.mean()
death_mean

20275.571428571428

In [11]:
data_Fl_df = data[(data["state"]=="Florida")]
data_Fl_df

             date    state  fips    cases  deaths
242    2020-03-01  Florida    12        2       0
255    2020-03-02  Florida    12        2       0
270    2020-03-03  Florida    12        3       0
286    2020-03-04  Florida    12        3       0
304    2020-03-05  Florida    12        4       0
...           ...      ...   ...      ...     ...
61672  2023-03-19  Florida    12  7542869   87141
61728  2023-03-20  Florida    12  7542869   87141
61784  2023-03-21  Florida    12  7542869   87141
61840  2023-03-22  Florida    12  7542869   87141
61896  2023-03-23  Florida    12  7542869   87141

[1118 rows x 5 columns]

In [12]:
# Total number of cases for Florida
cases_count_Fl = data_Fl_df['cases'].max()
cases_count_Fl

7542869

In [13]:
# Total number of deaths for Florida
deaths_count_Fl = data_Fl_df['deaths'].max()
deaths_count_Fl

87141

In [14]:
# Total number of deaths for Florida
days_count_Fl = len(data_Fl_df['date'])
days_count_Fl

1118

In [15]:
# Average number of cases by day for Florida
cases_mean_Fl = cases_count_Fl / days_count_Fl
cases_mean_Fl

6746.752236135957

In [16]:
# Average number of deaths by day for Florida
deaths_mean_Fl = deaths_count_Fl / days_count_Fl
deaths_mean_Fl

77.94364937388193

In [17]:
# % of FL cases over the total states 
percent_FL_cases = cases_count_Fl/ cases_count * 100
percent_FL_cases

7.25903814062846

In [18]:
# % of FL deaths over the total states 
percent_FL_deaths = deaths_count_Fl/ deaths_count * 100
percent_FL_deaths

7.674700026069373

In [19]:
# Summary STATS of the EDA in a DataFrame
FL_STATS_summary = pd.DataFrame({"Total Cases":[cases_count_Fl],
                                 "Total Deaths":[deaths_count_Fl],
                                 "Average Cases by day":[cases_mean_Fl],
                                 "Average Deaths by day":[deaths_mean_Fl],
                                 "% Cases FLorida":[percent_FL_cases],
                                 "% Deaths Florida":[percent_FL_deaths],})

# Formatting
FL_STATS_summary["Total Cases"] = FL_STATS_summary["Total Cases"].map("{:,}".format)
FL_STATS_summary["Total Deaths"] = FL_STATS_summary["Total Deaths"].map("{:,}".format)
FL_STATS_summary["Average Cases by day"] = FL_STATS_summary["Average Cases by day"].map("{:,.2f}".format)
FL_STATS_summary["Average Deaths by day"] = FL_STATS_summary["Average Deaths by day"].map("{:,.2f}".format)

# Display the DataFrame
FL_STATS_summary

,Total Cases,Total Deaths,Average Cases by day,Average Deaths by day,% Cases FLorida,% Deaths Florida
0,"7,542,869","87,141","6,746.75",77.94,7.259038,7.6747

## CLEAN DATA

In [20]:
data_Fl_df.to_csv("Output/data_FL.csv", index=False, header=True)

In [21]:
#Identify the duplicate data
duplicates = data_Fl_df[data_Fl_df.duplicated(subset=['cases','deaths'], keep=False)]
duplicates

             date    state  fips    cases  deaths
242    2020-03-01  Florida    12        2       0
255    2020-03-02  Florida    12        2       0
270    2020-03-03  Florida    12        3       0
286    2020-03-04  Florida    12        3       0
12123  2020-10-09  Florida    12   728913   15185
...           ...      ...   ...      ...     ...
61672  2023-03-19  Florida    12  7542869   87141
61728  2023-03-20  Florida    12  7542869   87141
61784  2023-03-21  Florida    12  7542869   87141
61840  2023-03-22  Florida    12  7542869   87141
61896  2023-03-23  Florida    12  7542869   87141

[375 rows x 5 columns]

In [22]:
duplicates.to_csv("Output/data_FL_duplicates.csv", index=False, header=True)

In [23]:
# Identify incomplete rows
data_Fl_df.count()

date      1118
state     1118
fips      1118
cases     1118
deaths    1118
dtype: int64

In [24]:
# Drop duplicates for cases and deaths rows
data_Fl_clean_df = data_Fl_df.drop_duplicates(subset=['cases', 'deaths'])
data_Fl_clean_df

             date    state  fips    cases  deaths
242    2020-03-01  Florida    12        2       0
270    2020-03-03  Florida    12        3       0
304    2020-03-05  Florida    12        4       0
325    2020-03-06  Florida    12        7       2
354    2020-03-07  Florida    12       12       2
...           ...      ...   ...      ...     ...
58424  2023-01-20  Florida    12  7400419   84927
59208  2023-02-03  Florida    12  7440322   85710
59992  2023-02-17  Florida    12  7473371   86294
60776  2023-03-03  Florida    12  7531055   86850
61560  2023-03-17  Florida    12  7542869   87141

[839 rows x 5 columns]

In [25]:
data_Fl_clean_df.to_csv("Output/data_FL_clean.csv", index=False, header=True)

In [26]:
data_Fl_clean_df.count()

date      839
state     839
fips      839
cases     839
deaths    839
dtype: int64