In [4]:
# Dependencies
import pandas as pd
from pathlib import Path

In [14]:
# Store filepath in a variable
file = Path("data/us-states.csv")

In [15]:
data = pd.read_csv(file)
data

             date          state  fips    cases  deaths
0      2020-01-21     Washington    53        1       0
1      2020-01-22     Washington    53        1       0
2      2020-01-23     Washington    53        1       0
3      2020-01-24       Illinois    17        1       0
4      2020-01-24     Washington    53        1       0
...           ...            ...   ...      ...     ...
61937  2023-03-23       Virginia    51  2298300   23782
61938  2023-03-23     Washington    53  1940704   15905
61939  2023-03-23  West Virginia    54   645710    8132
61940  2023-03-23      Wisconsin    55  2014524   16485
61941  2023-03-23        Wyoming    56   185800    2014

[61942 rows x 5 columns]

In [16]:
data.describe()

               fips         cases         deaths
count  61942.000000  6.194200e+04   61942.000000
mean      32.247958  8.898301e+05   11779.067499
std       18.788383  1.470231e+06   17345.774849
min        1.000000  1.000000e+00       0.000000
25%       17.000000  7.078350e+04    1171.000000
50%       31.000000  3.514960e+05    5035.000000
75%       46.000000  1.043231e+06   14912.000000
max       78.000000  1.216916e+07  104277.000000

In [12]:
count = len(data['Deaths'].unique())
count

150

In [13]:
mean = data['Deaths'].mean()
mean

3497.51871657754